APP_NAME=GreenThumb
API_PREFIX=/api/v1
KLIPPER_HOST=/run/klipper/uds
# I2C addresses for STEMMA soil sensors: 54=0x36, 55=0x37, 56=0x38, 57=0x39
MOISTURE_SENSOR_ADDRESSES=54,55,56,57
# Matches the [output_pin] section name in printer.cfg (pump is on HE0/PC8)
PUMP_PIN_NAME=pump
PUMP_FLOW_ML_PER_SECOND=2.5
LED_COUNT=60
DEBUG=false
